@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Open+Sans:wght@300;500&family=Permanent+Marker&display=swap");
.dogs {
  /* make it responsive */
  max-width: 100%;
  width: 100%;
  height: 10px;

  /* div height to be the same as width*/
  padding-top: 40%;

  /* Centering on image`s center*/
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;

  /* it makes the clue thing, takes smaller dimension to fill div */
  background-size: cover;

  /* it is optional, for making this div centered in parent*/
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../public/dogs2.jpg");
}

.welcome {
  align-items: flex-start;
  margin-left: 20px;
  text-align: center;
  /* margin-bottom: 20px; */
  /* max-width: 500px;
  max-height: 200px; */
}

.slides {
  padding-top: 40px;
  margin-left: 30%;
  width: 40%;
}
.slideBackground {
  background-image: url("../../public/dogs2.jpg");
  height: 600px;
}

.dogSlides {
  display: flex;
  flex-direction: column;
  border: solid #5c544c;
  border-width: 3px;
  flex-basis: content;
  justify-content: space-between;
  background-color: #bccdd7;
  font-family: "Roboto";
  border-radius: 20px;
  border-color: #000000;
  text-align: center;
  justify-content: center;
  margin-bottom: 35px;
}
