@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Open+Sans:wght@300;500&family=Permanent+Marker&display=swap");
.dogs {
  /* make it responsive */
  max-width: 100%;
  width: 100%;
  height: auto;

  /* div height to be the same as width*/
  padding-top: 40%;

  /* Centering on image`s center*/
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;

  /* it makes the clue thing, takes smaller dimension to fill div */
  background-size: cover;

  /* it is optional, for making this div centered in parent*/
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../public/dogs.jpg");

}

.welcome {
  align-items: flex-start;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}
