@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Open+Sans:wght@300;500&family=Permanent+Marker&display=swap");

.FindDog-event{
    position: absolute;
    width: 50vw;
    height: 110vh;
    left: 43vw;
    top: 18vh;

    background: #BCCDD7;
    /* border: 3px solid #5C544C; */
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    overflow-x: scroll;
}

.FindDog-button{
    font-family:'Roboto';
    font-size: 14px;
    font-weight: bold;
    background-color: #5B4C49;
    padding: 5px 10px;
    color: white;
    box-shadow: 0 3px black;
    margin-left: 13vw;
}

.FindDog-button:hover {
    background-color: #3F2D2A;
}

.FindDog-button:active {
    background-color: #3f2d2a;
    transform: translateY(3px);
}

.FindDog-selector{
    position: absolute;
    width: 25vw;
    height: 97vh;
    left: 10vw;
    top: 23vh;

    background: rgba(216, 120, 46, 0.6);
    /* border: 3px solid #5C544C; */
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    align-items: center;
}

.SignUp-button{
    font-family:'Roboto';
    font-size: 14px;
    font-weight: bold;
    background-color: #5B4C49;
    padding: 5px 10px;
    color: white;
    box-shadow: 0 3px black;
}

.SignUp-button:hover {
    background-color: #3F2D2A;
}

.SignUp-button:active {
    background-color: #3f2d2a;
    transform: translateY(3px);
}

.Withdraw-button{
    font-family:'Roboto';
    font-size: 14px;
    font-weight: bold;
    background-color: #5B4C49;
    padding: 5px 10px;
    color: white;
    box-shadow: 0 3px black;
}

.Withdraw-button:hover {
    background-color: #3F2D2A;
}

.Withdraw-button:active {
    background-color: #3f2d2a;
    transform: translateY(3px);
}

.Participant{
    margin-left: 2vw;
    margin-right: 2vw;
    font-family: 'Roboto';
    font-weight: bold;
}

.Participant_{
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 1vh;
    font-family: 'Roboto';
    font-weight: bold;
}

.Reset-button{
    font-family:'Roboto';
    font-size: 14px;
    font-weight: bold;
    background-color: #5B4C49;
    padding: 5px 10px;
    color: white;
    box-shadow: 0 3px black;
    margin-top: 2vh;
}

.Reset-button:hover {
    background-color: #3F2D2A;
}

.Reset-button:active {
    background-color: #3f2d2a;
    transform: translateY(3px);
}

.FindDog-bar{
    border:5px #5B4C49;
    padding-left: 10px;
    width: 75px;
    height: 30px;
    border-radius: 5px;
    float: center;
    margin-bottom: 20px;
    margin: 5px;
}