.MySchedule-event {
  position: absolute;
  width: 715px;
  height: 815px;
  left: 623px;
  top: 205px;

  background: #bccdd7;
  border: 3px solid #5c544c;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  overflow-x: scroll;
}
