@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Open+Sans:wght@300;500&family=Permanent+Marker&display=swap");

.Profile-avatarContainer {
  padding: 0 43%;
}
.Profile-image {
  margin-top: 10px;
  border-radius: 50%;
  width: auto;
  max-height: 250px;
  /* display: block;
  
  margin-right: 20%;
  border-radius: 50%;
  max-height: 150px;
  float: center;
  margin-top: 10px; */
}

.Profile-avatar {
  /* make it responsive */
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
  /* div height to be the same as width*/
  padding-top: 100%;

  /* make it a circle */
  border-radius: 50%;

  /* Centering on image`s center*/
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;

  /* it makes the clue thing, takes smaller dimension to fill div */
  background-size: cover;

  /* it is optional, for making this div centered in parent*/
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-image: url("../../public/corgi.jpg"); */
}

.button {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: bold;
  background-color: #5b4c49;
  padding: 5px 10px;
  color: white;
  box-shadow: 0 3px black;
  margin-top: 35px;
}

.Profile-name {
  font-size: 40px;
  font-weight: 300;
  font-family: "Permanent Marker", cursive;
}

.editUser {
  text-align: center;
  display: block;
}

.Profile-Links {
  text-decoration: none;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: bold;
  background-color: #5b4c49;
  padding: 5px 10px;
  color: white;
  box-shadow: 0 3px black;
  width: 20%;
  text-align: center;
  margin-bottom: 10px;
  height: 50px;
}

.Profile-addDog {
  text-decoration: none;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: bold;
  background-color: #5b4c49;
  padding: 5px 10px;
  color: white;
  box-shadow: 0 3px black;
  width: 30%;
  text-align: center;
  margin-bottom: 10px;
  height: 30px;
  margin-left: 10px;
}

.Profile-line {
  border-color: var(--grey);
}

.Profile-subContainer {
  border: solid #5c544c;
  border-width: 3px;
  font-weight: bold;
  border-radius: 5px;
  width: 35%;
  margin-left: 6%;
  background-color: #dfa16e;
  padding-bottom: 10px;
  margin-top: 6%;
  margin-bottom: 50px;
  max-height: 650px;
  /* opacity: 0.6; */
}

.Profile-subTitle {
  font-weight: 300;
  font-size: 24px;
  font-weight: bold;
  margin: var(--m) var(--s);
  font-family: "Architects Daughter", cursive;
}

.change {
  align-items: flex-start;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  font-family: "Architects Daughter", cursive;
  font-size: 20px;
}
.dogSection {
  margin-left: 5%;
  margin-top: 20px;
}
.editContainer {
  margin-top: 20px;
}
.dogList {
  position: absolute;
  width: 615px;
  height: 680px;
  left: 720px;
  top: 170px;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  overflow-y: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #bccdd7;
  border-radius: 20px;
  border: 2px solid black;
  background-clip: content-box;
}
