@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Permanent+Marker&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Open+Sans:wght@300;500&family=Permanent+Marker&display=swap");

.SingleDog {
  display: flex;
  flex-direction: column;
  border: solid black;
  flex-basis: content;
  justify-content: space-between;
  background-color: #bccdd7;
  font-family: "Roboto";
  border-radius: 5px;
  border-color: #000000;
  text-align: center;
  justify-content: center;
  margin-bottom: 35px;
}

.subContainer {
  flex-grow: 1;
  flex-basis: auto;
}

.dogImage {
  margin-top: 10px;
  border-radius: 50%;
  width: auto;
  /* height: auto;
  max-width: 250px; */
  max-height: 250px;
}

.deleteButton {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: bold;
  background-color: #5b4c49;
  padding: 5px 10px;
  color: white;
  box-shadow: 0 3px black;
  margin-top: 20px;
  width: 20%;
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 40%;
}
