.filter{
    font-family:'Roboto';
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 15px;
    line-height: 1.6;
}

<<<<<<< HEAD
.filter-bar{
    border:5px #5B4C49;
    padding-left: 10px;
    /* margin-top: 10px; */
    width: 150px;
    height: 30px;
    border-radius: 5px;
    float: center;
    margin-bottom: 20px;
=======
.filter-breed{
    margin-top: 10px;
>>>>>>> 937973794e12be9294811c5913fe67cdc6ad83cc
}