.filter{
    font-family:'Roboto';
    font-size: 15px;
    font-weight: bold;
    margin-top: 3vh;
    margin-left: 2vw;
    line-height: 1.4;
}

.filter-bar{
    border:5px #5B4C49;
    padding-left: 10px;
    /* margin-top: 10px; */
    width: 12vw;
    height: 4vh;
    border-radius: 5px;
    float: center;
    margin-bottom: 2vh;
}

.filter-breed{
    margin-top: 2vh;
}