@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Permanent+Marker&display=swap");
.NavBar-container {
  padding: var(--s) var(--m);
  background-color: var(--primary);
  text-align: left;
  height: 11vh;
  box-shadow: 0px 2px 2px rgba(145, 126, 126, 0.25);
}

.paw {
  /* make it responsive */
  /* make it responsive */
  /* display: inline-block; */
  /* max-width: 100%; */
  background-size: 80px;
  float: left;
  height: auto;
  max-width: 80px;
  object-fit: contain;
  background-image: url("../../public/paw.png");
  /* it is optional, for making this div centered in parent*/
}

.logo {
  /* make it responsive */
  max-width: 50%;
  height: auto;
  background-size: 13vw;
  width: 13vw;
  height: 10vh;
  float: left;

  /* it is optional, for making this div centered in parent */
  margin: 0 auto;
  top: -6px;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../public/logo.jpg");
}

.NavBar-title {
  color: var(--white);
  font-size: 5vw;
  font-family: "Permanent Marker", cursive;
}

.NavBar-linkContainer {
  margin-left: var(--l);
  text-align: center;
  margin-top: 2vh;
}

.NavBar-link,
.NavBar-link:visited {
  color: var(--white);
  opacity: 0.6;
  text-decoration: none;
  text-align: center;
}

img {
  background: url("../../public/small_paw.png") no-repeat;
}

.NavBar-link:hover {
  opacity: 0.8;
}

.NavBar-link.NavBar-login {
  opacity: 1;
}

.NavBar-link + .NavBar-link {
  margin-left: var(--m);
  text-align: center;
}
