@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Permanent+Marker&display=swap");
.NavBar-container {
  padding: var(--s) var(--m);
  background-color: var(--primary);
  text-align: center;
}

.logo {
  /* make it responsive */
  max-width: 50%;
  height: auto;
  background-size: 200px;
  width: 200px;
  height: 80px;

  /* it is optional, for making this div centered in parent*/
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../public/paw.jpg");
}

.logo {
  /* make it responsive */
  max-width: 50%;
  height: auto;
  background-size: 200px;
  width: 200px;
  height: 80px;

  /* it is optional, for making this div centered in parent*/
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../public/logo.jpg");
}

.NavBar-title {
  color: var(--white);
  font-size: 30px;
  font-family: "Permanent Marker", cursive;
}

.NavBar-linkContainer {
  margin-left: var(--l);
  text-align: center;
}

.NavBar-link,
.NavBar-link:visited {
  color: var(--white);
  opacity: 0.6;
  text-decoration: none;
  text-align: center;
}

.NavBar-link:hover {
  opacity: 0.8;
}

.NavBar-link.NavBar-login {
  opacity: 1;
}

.NavBar-link + .NavBar-link {
  margin-left: var(--m);
  text-align: center;
}
