.NewEvent-button{
    font-family:'Roboto';
    font-size: 14px;
    font-weight: bold;
    background-color: #5B4C49;
    color: white;
    position: absolute;
    margin: 0 auto;
}

.NewEvent-selector{
    position: relative;
    width: 316px;
    height: 500px;
    left: 85px;
    top: 88px;

    background: rgba(216, 120, 46, 0.6);
    border: 1px solid #5C544C;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    align-items: center;

    font-family:'Roboto';
}

.NewEvent-verify{

}

