.NewEvent-button{
    font-family:'Roboto';
    font-size: 14px;
    font-weight: bold;
    background-color: #5B4C49;
    padding: 5px 10px;
    color: white;
    box-shadow: 0 3px black;
}

.NewEvent-button:hover {
    background-color: #3F2D2A;
}

.NewEvent-button:active {
    background-color: #3f2d2a;
    transform: translateY(3px);
}

.NewEvent-selector{
    position: relative;
    width: 316px;
    height: 500px;
    left: 85px;
    top: 88px;

    background: rgba(216, 120, 46, 0.6);
    border: 1px solid #5C544C;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    align-items: center;
}


