* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 80vw;
  position: relative;
  margin-left: 10vw;
  align-items: center;
}

/* Hide the images by default */
.mySlides {
  display: none;
  /* max-width: 1000px;
  height: auto; */
}

.box{
  height: 80vh;
  width: 80vw;
  /* border-radius: 50px; */
  align-items: center;
  text-align: center;
}
.slide-image{
  object-position: center;
  object-fit: fill;
  position: relative;
  min-height: 100%;
  min-width: 100%; 
  /* fix width to width of parent */
  /* max-height: 100%; */
  margin-left: auto;
  margin-right: auto;
  display: block;
  /* transform: translate(-50%, -50%); */
}

.name{
  z-index: 100;
  position: absolute;
  bottom: 2vh;
  left: 2vw;
  background-color: black;
}
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }